.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

header {
  border-bottom: 1.7px solid #C0C0C0;
}

h2, h3 {
  margin-top: 38px;
}

p {
  font-family: "Georgia" serif;
  line-height: 25px;
}

blockquote {
  line-height: 25px;
  font-style: italic;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 10px 0px;
}

.pagination a {
  color: #222;
  text-decoration: none;
}

.pagination a.disabled {
  color: #ccc;
}

/* display links horizontally */
ol li {
  display: inline;
  
}

a.active {
  background-color: #787878;
  color: #FFFFFF;
}

a {
  float: left;
  min-width: 25px;
  border: 1.25px solid #808080;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  background-color: #F0F0F0;
}

.footer {
  float: left;
  clear: both;
  padding-top: 7px;
  padding-bottom: 7px;
}